<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevyavno.visualizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.kevyavno.app.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kevyavno.app.DisplayFragment"
            android:label="@string/title_activity_display_fragment" >
        </activity>

        <service android:name="com.kevyavno.app.Player" />

        <activity
            android:name="com.kevyavno.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.kevyavno.app.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

</manifest>